@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-Light.eot");
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Poppins/WOFF2/SVN-Poppins-Light.woff2") format("woff2"), url("../fonts/SVN-Poppins/WOFF/SVN-Poppins-Light.woff") format("woff"), url("../fonts/SVN-Poppins/TTF/SVN-Poppins-Light.ttf") format("truetype"), url("../fonts/SVN-Poppins/SVG/SVN-Poppins-Light.svg#poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-LightItalic.eot");
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Poppins/WOFF2/SVN-Poppins-LightItalic.woff2") format("woff2"), url("../fonts/SVN-Poppins/WOFF/SVN-Poppins-LightItalic.woff") format("woff"), url("../fonts/SVN-Poppins/TTF/SVN-Poppins-LightItalic.ttf") format("truetype"), url("../fonts/SVN-Poppins/SVG/SVN-Poppins-LightItalic.svg#poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-Regular.eot");
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Poppins/WOFF2/SVN-Poppins-Regular.woff2") format("woff2"), url("../fonts/SVN-Poppins/WOFF/SVN-Poppins-Regular.woff") format("woff"), url("../fonts/SVN-Poppins/TTF/SVN-Poppins-Regular.ttf") format("truetype"), url("../fonts/SVN-Poppins/SVG/SVN-Poppins-Regular.svg#poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-RegularItalic.eot");
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Poppins/WOFF2/SVN-Poppins-RegularItalic.woff2") format("woff2"), url("../fonts/SVN-Poppins/WOFF/SVN-Poppins-RegularItalic.woff") format("woff"), url("../fonts/SVN-Poppins/TTF/SVN-Poppins-RegularItalic.ttf") format("truetype"), url("../fonts/SVN-Poppins/SVG/SVN-Poppins-RegularItalic.svg#poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-Medium.eot");
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Poppins/WOFF2/SVN-Poppins-Medium.woff2") format("woff2"), url("../fonts/SVN-Poppins/WOFF/SVN-Poppins-Medium.woff") format("woff"), url("../fonts/SVN-Poppins/TTF/SVN-Poppins-Medium.ttf") format("truetype"), url("../fonts/SVN-Poppins/SVG/SVN-Poppins-Medium.svg#poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-SemiBold.eot");
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Poppins/WOFF2/SVN-Poppins-SemiBold.woff2") format("woff2"), url("../fonts/SVN-Poppins/WOFF/SVN-Poppins-SemiBold.woff") format("woff"), url("../fonts/SVN-Poppins/TTF/SVN-Poppins-SemiBold.ttf") format("truetype"), url("../fonts/SVN-Poppins/SVG/SVN-Poppins-SemiBold.svg#poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-Bold.eot");
  src: url("../fonts/SVN-Poppins/EOT/SVN-Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Poppins/WOFF2/SVN-Poppins-Bold.woff2") format("woff2"), url("../fonts/SVN-Poppins/WOFF/SVN-Poppins-Bold.woff") format("woff"), url("../fonts/SVN-Poppins/TTF/SVN-Poppins-Bold.ttf") format("truetype"), url("../fonts/SVN-Poppins/SVG/SVN-Poppins-Bold.svg#poppins") format("svg");
}
/** */
html {
  font-size: 100%;
  font-variant-ligatures: no-common-ligatures;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

p {
  margin-bottom: 0.75rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

pre {
  font-family: monospace;
  font-size: 1em;
  white-space: pre-wrap;
}

code,
kbd,
pre,
samp {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Arial, sans-serif;
  font-size: 1rem;
}

blockquote {
  font-style: italic;
}

.wp-editor-area {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Arial, sans-serif;
}

/*tinymce*/
body#tinymce.wp-editor.content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  width: 900px;
  line-height: 1.5;
  margin: 15px auto;
}
body#tinymce.wp-editor.content table,
body#tinymce.wp-editor.content cite,
body#tinymce.wp-editor.content figcaption,
body#tinymce.wp-editor.content p,
body#tinymce.wp-editor.content ol,
body#tinymce.wp-editor.content ul,
body#tinymce.wp-editor.content dl,
body#tinymce.wp-editor.content dt,
body#tinymce.wp-editor.content .wp-caption-text,
body#tinymce.wp-editor.content .wp-caption-dd {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body#tinymce.wp-editor.content p,
body#tinymce.wp-editor.content ul,
body#tinymce.wp-editor.content ol,
body#tinymce.wp-editor.content blockquote {
  margin-bottom: 20px;
  line-height: 1.7;
}
body#tinymce.wp-editor.content h1,
body#tinymce.wp-editor.content h2,
body#tinymce.wp-editor.content h3,
body#tinymce.wp-editor.content h4,
body#tinymce.wp-editor.content h5,
body#tinymce.wp-editor.content h6 {
  font-weight: 700;
}
body#tinymce.wp-editor.content h1 {
  font-size: 21px;
}
body#tinymce.wp-editor.content h2 {
  font-size: 20px;
}
body#tinymce.wp-editor.content h3 {
  font-size: 19px;
}
body#tinymce.wp-editor.content h4 {
  font-size: 18px;
}
body#tinymce.wp-editor.content h5 {
  font-size: 17px;
}
body#tinymce.wp-editor.content h6 {
  font-size: 16px;
  text-transform: inherit;
}

/*Gutenberg */
.editor-styles-wrapper > *,
.editor-styles-wrapper p,
.editor-styles-wrapper ol,
.editor-styles-wrapper ul,
.editor-styles-wrapper dl,
.editor-styles-wrapper dt {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Arial, sans-serif;
  font-size: 15px;
}
.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper .wp-block h3,
.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper .wp-block h6,
.editor-styles-wrapper .wp-block .has-drop-cap:not(:focus)::first-letter,
.editor-styles-wrapper .wp-block cite,
.editor-styles-wrapper .wp-block figcaption,
.editor-styles-wrapper .wp-block .wp-caption-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Arial, sans-serif;
}
.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", Arial, sans-serif;
}
.editor-styles-wrapper p {
  line-height: 1.7;
}

/*# sourceMappingURL=editor-style.css.map*/